// src/app/(routes)/(app)/dashboard/_components/DashboardLayout/DashboardLayout.module.scss
@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/functions";
@import "@/styles/abstracts/mixins";

.dashboardLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: color("neutral", "lightest");

  &__content {
    display: flex;
    flex: 1;
    position: relative;
    width: 100%;
  }

  &__main {
    flex: 1;
    width: 100%;
    padding: spacing("xl");
    // margin-left: 16rem; // Match sidebar width
    transition: margin-left 0.3s ease;
    box-sizing: border-box;

    // &--expanded {
    //   margin-left: 5rem; // Match collapsed sidebar width
    // }

    @include breakpoint-down("md") {
      margin-left: 0;
      padding: spacing("lg") spacing("md");
    }

    @include breakpoint-down("sm") {
      padding: spacing("md");
    }
  }
}