@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/mixins";
@import "@/styles/abstracts/functions";

.form_actions {
  padding: spacing("lg") 0;
  border-top: 1px solid color("neutral", "light");
  margin-top: spacing("xl");

  &__buttons {
    display: flex;
    justify-content: flex-end;
    gap: spacing("md");

    @include breakpoint-down("sm") {
      flex-direction: column-reverse;
      gap: spacing("sm");
    }
  }
}