@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/mixins";
@import "@/styles/abstracts/functions";

.tabs {
  background-color: color("neutral", "white");
  border-radius: border-radius("lg");
  box-shadow: map-get($box-shadows, "sm");
  overflow: hidden;
  position: sticky;
  top: spacing("lg");
  z-index: z-index("sticky");
  
  &__container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; // Hide scrollbar for Firefox
    
    &::-webkit-scrollbar {
      display: none; // Hide scrollbar for Chrome, Safari, and Opera
    }
  }
  
  &__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: spacing("md") spacing("lg");
    min-width: 6rem;
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    transition: $transition-base;
    white-space: nowrap;
    
    @include breakpoint-up("md") {
      flex-direction: row;
      padding: spacing("md") spacing("xl");
      
      .tabs__tabIcon {
        margin-right: spacing("xs");
        margin-bottom: 0;
      }
    }
    
    &:hover {
      background-color: color("neutral", "lighter");
    }
    
    &--active {
      color: color("primary", "base");
      font-weight: map-get($font-weights, "medium");
    }
  }
  
  &__tabIcon {
    margin-bottom: spacing("xxs");
    font-size: map-get($font-sizes, "lg");
  }
  
  &__tabLabel {
    font-size: map-get($font-sizes, "sm");
    
    @include breakpoint-up("md") {
      font-size: map-get($font-sizes, "base");
    }
  }
  
  &__tabIndicator {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: color("primary", "base");
    border-top-left-radius: border-radius("full");
    border-top-right-radius: border-radius("full");
  }
}