@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/functions";

.cateringPackages {
  @include section-spacing("2xl");
  background: color("neutral", "white");

  &__container {
    @include container;
    text-align: center;
  }

  &__title {
    @include heading-2;
    margin-bottom: spacing("lg");
    color: color("neutral", "black");
  }
}