@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/mixins";
@import "@/styles/abstracts/functions";

.spinner {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: z-index("overlay");
  background-color: rgba(color("neutral", "white"), 0.3);
  backdrop-filter: blur(4px);

  &__content {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: spacing("sm");
  }

  &__icon {
    color: color("primary", "base");
    animation: spin 1s linear infinite;
  }

  &__message {
    @include font-size("lg");
    @include font-weight("medium");
    color: color("neutral", "black");
    margin: 0;
    text-align: center;
    z-index: calc(z-index("overlay") + 1);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
