@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/mixins";
@import "@/styles/abstracts/functions";

.dashboardLayout {
  min-height: 100vh;
  background-color: color("neutral", "lightest");

  &__content {
    padding-top: spacing("xl");
    padding-bottom: spacing("xl");
  }

  &__container {
    @include container;
    max-width: map-get($container-max-widths, "xl");
  }
}
