.signaturePattern {
  height: 100%;
  opacity: 0.08;
  pointer-events: none;
  z-index: 1;

  @media (max-width: 768px) {
    height: 150px;
    top: -30px;
  }
}

.patternImage {
  object-fit: cover;
  object-position: center bottom;
  filter: brightness(1.5) contrast(0.8);
}
