// app/contact/contact.module.scss
@import "@/styles/abstracts-old/variables";
@import "@/styles/abstracts-old/mixins";
@import "@/styles/abstracts-old/functions";

.contact-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;

  @include breakpoint-down("lg") {
    grid-template-columns: 1fr;
  }
}
