@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/functions";
@import "@/styles/abstracts/mixins";

.parfait-animation {
  position: relative;
  width: 100%;
  height: 100%;
  @include flex-center;

  &__glass {
    width: 250px;
    height: 350px;
    background: linear-gradient(
      to bottom,
      transparent,
      rgba(255, 255, 255, 0.3)
    );
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 0 20px 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);

    @include breakpoint-down("sm") {
      width: 200px;
      height: 280px;
    }
  }

  &__layer {
    width: 100%;
    position: absolute;
    left: 0;
  }

  &__topping {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
  }

  &__floating {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;

    span {
      position: absolute;
      font-size: 2rem;

      &:nth-child(1) {
        top: 20%;
        left: -50px;
      }

      &:nth-child(2) {
        top: 50%;
        right: -40px;
      }

      &:nth-child(3) {
        bottom: 20%;
        left: -30px;
      }
    }
  }
}
